<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu Proyecto</title>
  <link rel="stylesheet" type="text/css" href="../public/styles.css">
</head>
<body>
  <h1>Listado de Empresas</h1>
  <label for="seleccionarEmpresa">Seleccionar Empresa:</label>
  <select id="seleccionarEmpresa" name="seleccionarEmpresa">
    <% empresas.forEach(empresa => { %>
      <option value="<%= empresa.nombre %>"><%= empresa.nombre %></option>
    <% }); %>
  </select>

  <h1>Listado de Estudiantes</h1>
  <label for="seleccionarEstudiante">Seleccionar Estudiante:</label>
  <select id="seleccionarEstudiante" name="seleccionarEstudiante">
    <% estudiantes.forEach(estudiante => { %>
      <option value="<%= estudiante.nombre %>"><%= estudiante.nombre %></option>
    <% }); %>
  </select>

  <!-- Formulario para guardar transacción -->
  <form id="formularioTransaccion" action="/guardarTransaccion" method="post">
    <button type="submit">Guardar Transacción</button>
  </form>

  <script src="/script.js"></script>
</body>
</html>
